* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c0ce94d;

nav {
    background-color: #6b63fff1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.main-text {
    color:orange;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.img-logo {
    margin-right: 17.5rem;
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

li {
    margin: 0 10px;
}

.links {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.links:hover {
    text-decoration: none;
}

.links::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #FFFFFF;
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.links:hover::after {
    width: 100%;
}

#icon {
    background-color: #30BD54;
    padding: 5px 7px 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

#icon svg {
    color: #FFF;
    height: 28px;
    transition: all .3s ease;
}

#icon:hover {
    background: #FFF;
}

#icon:hover svg {
    color: #30BD54;
}

#checkbox, #icon {
    display: none;
}

/* Main section */
.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69vh;
    background-color: #6b63fff1;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 445px;
    margin-right: 10rem;
}

.h1-main {
    font-weight: 600;
    font-size: 42px;
    margin: 0px 0px 14px;
}

.p-main {
    text-align: justify;
    font-size: 15px;
    margin: 0px 0px 42px;
}

:is(.h1-main, .p-main) {
    color: #FFFFFF;
}

.explore {
    display: flex;
    width: 167px;
    height: 43px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #FFFFFF;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #6c63ff;
    margin: 0 15px;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #6b63fff1;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    font-weight: bold;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

h1 {
    color: black;
    font-weight: bold;
    height: 30px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 1rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-boxv input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #6b63fff1;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }

    .container {
        width: 50%;
    }

    .form {
        width: 100%;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3rem;
    position: fixed;
    background-color: #008374;
    z-index: 1;
    bottom: 0;
    width: 100%;
}

.copyright-footer {
    color: #FFFFFF;
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 3rem;
        position: fixed;
        background-color: #008374;
        z-index: 1;
        bottom: 0;
        width: 100%;
    }

    .copyright-footer {
        color: #FFFFFF;
    }
}
