* {
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-weight: bold;
}

body {
    background: linear-gradient(to right, rgb(103, 51, 223), rgb(17, 54, 71));
    color: #fff;
    text-align: center;
    font-weight: bold;
}
